body{
    margin: 10px;
}


.bodydiv{
    margin: 50px;
    padding: 50px;
    align-items: center;
    align-content: center;
    align-self: center;
    font-size: 40px;
}

pre {
    font-family: "courier new", courier, monospace;
    font-size: 15px;
    margin: 15px;
}

a{
    /*background-color: chartreuse;*/
    margin: 10px 150px;
    text-decoration: unset;
    /*color: #ff0000;*/

}

#submit{
    font-size: 18px;
    height: 40px;
    width: 100px;
}
form{
    padding: 20px;
}

#search{
    font-size: 20px;
}
div {
    /*background-color: blue;*/
    text-align: center;
    padding: 20px 1px;
}

#type{
    height: 40px;
    font-size: 15px;
}

#input{
    width: 200px;
    height: 35px;
    font-size: 18px;
}

